.header{
	
	border:2px solid black;
	font-size:26px;
	font-family: Corbel; 
	width:1050px;
	height:50px;
    background-color:red
}
.resButton{
	border:1px black solid;
	height: 5px;
	width: 10px;
}
/*.footer{
	width:1050px;
	height: 50px;
	clear:both;
	background-color:red;
	border:2px solid black
}
*/
.Wrap{
	width:1050px;
	margin-right:auto;
	margin-left: auto;
}

img {
	
	
	float:left;
	border-radius:50%;
	height:300px; 
	width:300px;
}
body{
	background-image:url(stardust.png);
	
	background-size:relative;
	background-position:center;
	background-attachment: fixed;
}
/*.me{
	
	font-size:20px;
	margin-right: 100px;
	float:right;
	clear:both;
	
}
.info{
	
	font-size:20px;	
}
*/

body{
	/*border:2px black solid;*/
	padding-left: 50px;
}

h1{
	margin:0 auto;
}

.border{
	border:2px black solid;
	width:100px;
}
.about{
	float:right;
	font-size:20px;
}
#title{
	padding-left:450px;
	font-family: bold;
}