.header{
	
	border:2px solid black;
	font-size:26px;
	font-family: Corbel; 
	width:1050px;
	height:90px;
    background-color:red
}
	

}
.pic{
	float:left;
	height:300px;
	width:300px;
	border:2px black solid;

	background-color:red;
	width:300px;
}
a{
	text-decoration: none;
	color:black;
}
#name{
	font-size: 26px;
	padding-left:475px;
}
body{
	background-image:url(stardust.png);
	
	background-size:relative;
	background-position:center;
	background-attachment: fixed;
}
body{
	/*border:2px solid black;*/
	font-family: Corbel;
	background: white; 
	
}
h2{
	font-size:18px;
}
h3{
	font-size:12px;
	font-weight:bold;
}


#contact{
	font-size:12px;
	padding-left: 350px;
}
.obj{
	float:right;
	/*margin-right: 300px;*/
}
.footer{
	width:1050px;
	height: 90px;
	clear:both;
	background-color:red;
	border:2px solid black
}
.wrap{
	width:1050px;
	margin-right:auto;
	margin-left: auto;
}